fastapi
numpy<2.0
redis
types-redis
uvicorn
meson-python
python-multipart
ffmpeg
torch; sys_platform == "darwin" and platform_machine == "x86_64"
demucs==4.0.0
pymongo
requests
python-dotenv
cloudinary